<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="JenkinsServerURL" value="" />
	<parameter name="UserName" value="" />
	<parameter name="Password" value="" />
	<parameter name="JobName" value="" />
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.st.jenkins.ST_JenkinsUtil"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
